*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#cdcfcf;
    --cor1:#0AB1DB;
    --cor2:#055CA3;
    --cor3:#04558C;
    --cor4:#07325B;
}

body{
    margin: 20px;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor0);
}

header{
    padding: 15px;
    background-color:var(--cor2);
    margin-bottom: 20px;
}

header > img{
    width: 90px;
    float: left;
}